flows/kingsmen_GC_1.json
[{"id":"699dd0f3.a2462","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f3e78763.f1b638","type":"inject","z":"699dd0f3.a2462","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":200,"wires":[["bf6b0b2.d1826f8"]]},{"id":"bf6b0b2.d1826f8","type":"mongodb in","z":"699dd0f3.a2462","mongodb":"ba7272bd.14998","name":"","collection":"city_inspections","operation":"find","x":530,"y":140,"wires":[["8a4f7d3c.7952","186111f6.21093e"]],"info":"Adding the port in the firewall is not enough. By default the host bind to 127.0.0.1 which needs to be changed to 0.0.0.0 Make changes in the file sudo nano /etc/mongod.conf inside the instance Look for the term bindIp change it to 0.0.0.0 and restart mongodb You will be able to connect to the mongo db now"},{"id":"8a4f7d3c.7952","type":"debug","z":"699dd0f3.a2462","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":80,"wires":[]},{"id":"bc95af79.8fd11","type":"http in","z":"699dd0f3.a2462","name":"","url":"/getall","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["4c5985d1.b2593c","fbf125c1.b23fa8"]]},{"id":"186111f6.21093e","type":"http response","z":"699dd0f3.a2462","name":"","statusCode":"200","headers":{},"x":840,"y":140,"wires":[]},{"id":"4c5985d1.b2593c","type":"function","z":"699dd0f3.a2462","name":"","func":"msg.payload = {};\nmsg.limit = 1000;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["bf6b0b2.d1826f8"]]},{"id":"3d4486cf.0146aa","type":"inject","z":"699dd0f3.a2462","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":400,"wires":[["97a434e1.acb188"]]},{"id":"97a434e1.acb188","type":"mongodb in","z":"699dd0f3.a2462","mongodb":"ba7272bd.14998","name":"","collection":"city_inspections","operation":"find","x":530,"y":340,"wires":[["b91a5028.3c546","c55f0958.3fe928"]],"info":"Adding the port in the firewall is not enough. By default the host bind to 127.0.0.1 which needs to be changed to 0.0.0.0 Make changes in the file sudo nano /etc/mongod.conf inside the instance Look for the term bindIp change it to 0.0.0.0 and restart mongodb You will be able to connect to the mongo db now"},{"id":"b91a5028.3c546","type":"debug","z":"699dd0f3.a2462","name":"search result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":280,"wires":[]},{"id":"d047c9fe.232cc8","type":"http in","z":"699dd0f3.a2462","name":"","url":"/search","method":"get","upload":false,"swaggerDoc":"","x":110,"y":340,"wires":[["bd183350.44da6","f27d87a8.2286b8"]]},{"id":"c55f0958.3fe928","type":"http response","z":"699dd0f3.a2462","name":"","statusCode":"200","headers":{},"x":840,"y":340,"wires":[]},{"id":"bd183350.44da6","type":"function","z":"699dd0f3.a2462","name":"","func":"org_msg = msg\nvar field = org_msg.payload.search;\nnode.log(field);\n// if(field.includes(\"business_name\"))\n// {\n//     msg.payload = {business_name:\"\"+org_msg.payload.value};\n// }\n// else if((field.includes(\"city\")))\n// {\n//     msg.payload = {\"address.city\":\"\"+org_msg.payload.value}\n// }\n\n\nswitch(field){\n    \n    case \"business_name\":\n        msg.payload = {business_name:\"\"+org_msg.payload.value};\n        break;\n        \n    case \"city\":\n         msg.payload = {\"address.city\":\"\"+org_msg.payload.value};\n         break;\n        \n        \n}\nmsg.limit = 1000;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["97a434e1.acb188","c6ac622.060c3a"]]},{"id":"fbf125c1.b23fa8","type":"debug","z":"699dd0f3.a2462","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":80,"wires":[]},{"id":"f27d87a8.2286b8","type":"debug","z":"699dd0f3.a2462","name":"req","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":280,"wires":[]},{"id":"c6ac622.060c3a","type":"debug","z":"699dd0f3.a2462","name":"function","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":280,"wires":[]},{"id":"fbf4959e.604338","type":"inject","z":"699dd0f3.a2462","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":620,"wires":[["6a994bea.0f4614"]]},{"id":"6a994bea.0f4614","type":"mongodb in","z":"699dd0f3.a2462","mongodb":"ba7272bd.14998","name":"","collection":"city_inspections","operation":"find","x":530,"y":560,"wires":[["5ee7d2a.01e962c","d78dee4f.fdbe9"]],"info":"Adding the port in the firewall is not enough. By default the host bind to 127.0.0.1 which needs to be changed to 0.0.0.0 Make changes in the file sudo nano /etc/mongod.conf inside the instance Look for the term bindIp change it to 0.0.0.0 and restart mongodb You will be able to connect to the mongo db now"},{"id":"5ee7d2a.01e962c","type":"debug","z":"699dd0f3.a2462","name":"search result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":500,"wires":[]},{"id":"70fd943f.a42cec","type":"http in","z":"699dd0f3.a2462","name":"","url":"/keysearch","method":"get","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["d4643f43.1b754","930a866f.93f448"]]},{"id":"d4643f43.1b754","type":"function","z":"699dd0f3.a2462","name":"","func":"org_msg = msg\nvar key = org_msg.payload.key;\nnode.log(key);\n\nmsg.payload = {}\n\n\n\nmsg.limit = 1000;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":560,"wires":[["6a994bea.0f4614","636db648.a2ec28"]]},{"id":"930a866f.93f448","type":"debug","z":"699dd0f3.a2462","name":"req","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":500,"wires":[]},{"id":"636db648.a2ec28","type":"debug","z":"699dd0f3.a2462","name":"function","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":500,"wires":[]},{"id":"d78dee4f.fdbe9","type":"http response","z":"699dd0f3.a2462","name":"","statusCode":"200","headers":{},"x":840,"y":560,"wires":[]},{"id":"ba7272bd.14998","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"kingsmen","name":""}]