flows/kingsmen_flow_20200218.json
[{"id":"699dd0f3.a2462","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f3e78763.f1b638","type":"inject","z":"699dd0f3.a2462","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":200,"wires":[[]]},{"id":"bf6b0b2.d1826f8","type":"mongodb in","z":"699dd0f3.a2462","mongodb":"ba7272bd.14998","name":"","collection":"city_inspections","operation":"find","x":530,"y":140,"wires":[["8a4f7d3c.7952","186111f6.21093e"]],"info":"Adding the port in the firewall is not enough. By default the host bind to 127.0.0.1 which needs to be changed to 0.0.0.0 Make changes in the file sudo nano /etc/mongod.conf inside the instance Look for the term bindIp change it to 0.0.0.0 and restart mongodb You will be able to connect to the mongo db now"},{"id":"8a4f7d3c.7952","type":"debug","z":"699dd0f3.a2462","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":80,"wires":[]},{"id":"bc95af79.8fd11","type":"http in","z":"699dd0f3.a2462","name":"","url":"/getall","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["4c5985d1.b2593c","fbf125c1.b23fa8"]]},{"id":"186111f6.21093e","type":"http response","z":"699dd0f3.a2462","name":"","statusCode":"200","headers":{},"x":840,"y":140,"wires":[]},{"id":"4c5985d1.b2593c","type":"function","z":"699dd0f3.a2462","name":"","func":"msg.payload = {};\nmsg.limit = 25000;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["bf6b0b2.d1826f8"]]},{"id":"3d4486cf.0146aa","type":"inject","z":"699dd0f3.a2462","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":860,"wires":[["97a434e1.acb188"]]},{"id":"97a434e1.acb188","type":"mongodb in","z":"699dd0f3.a2462","mongodb":"ba7272bd.14998","name":"","collection":"city_inspections","operation":"find","x":530,"y":800,"wires":[["b91a5028.3c546","c55f0958.3fe928"]],"info":"Adding the port in the firewall is not enough. By default the host bind to 127.0.0.1 which needs to be changed to 0.0.0.0 Make changes in the file sudo nano /etc/mongod.conf inside the instance Look for the term bindIp change it to 0.0.0.0 and restart mongodb You will be able to connect to the mongo db now"},{"id":"b91a5028.3c546","type":"debug","z":"699dd0f3.a2462","name":"search result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":740,"wires":[]},{"id":"d047c9fe.232cc8","type":"http in","z":"699dd0f3.a2462","name":"","url":"/search","method":"get","upload":false,"swaggerDoc":"","x":110,"y":800,"wires":[["bd183350.44da6","f27d87a8.2286b8"]]},{"id":"c55f0958.3fe928","type":"http response","z":"699dd0f3.a2462","name":"","statusCode":"200","headers":{},"x":840,"y":800,"wires":[]},{"id":"bd183350.44da6","type":"function","z":"699dd0f3.a2462","name":"","func":"org_msg = msg\nvar field = org_msg.payload.search;\nnode.log(field);\n// if(field.includes(\"business_name\"))\n// {\n//     msg.payload = {business_name:\"\"+org_msg.payload.value};\n// }\n// else if((field.includes(\"city\")))\n// {\n//     msg.payload = {\"address.city\":\"\"+org_msg.payload.value}\n// }\n\n\nswitch(field){\n    \n    case \"business_name\":\n        msg.payload = {business_name:\"\"+org_msg.payload.value};\n        break;\n        \n    case \"city\":\n         msg.payload = {\"address.city\":\"\"+org_msg.payload.value};\n         break;\n        \n        \n}\nmsg.limit = 1000;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":800,"wires":[["97a434e1.acb188","c6ac622.060c3a"]]},{"id":"fbf125c1.b23fa8","type":"debug","z":"699dd0f3.a2462","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":80,"wires":[]},{"id":"f27d87a8.2286b8","type":"debug","z":"699dd0f3.a2462","name":"req","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":740,"wires":[]},{"id":"c6ac622.060c3a","type":"debug","z":"699dd0f3.a2462","name":"function","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":740,"wires":[]},{"id":"fbf4959e.604338","type":"inject","z":"699dd0f3.a2462","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":420,"wires":[["6a994bea.0f4614"]]},{"id":"6a994bea.0f4614","type":"mongodb in","z":"699dd0f3.a2462","mongodb":"ba7272bd.14998","name":"","collection":"city_inspections","operation":"find","x":530,"y":360,"wires":[["5ee7d2a.01e962c","d78dee4f.fdbe9"]],"info":"Adding the port in the firewall is not enough. By default the host bind to 127.0.0.1 which needs to be changed to 0.0.0.0 Make changes in the file sudo nano /etc/mongod.conf inside the instance Look for the term bindIp change it to 0.0.0.0 and restart mongodb You will be able to connect to the mongo db now"},{"id":"5ee7d2a.01e962c","type":"debug","z":"699dd0f3.a2462","name":"search result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":300,"wires":[]},{"id":"70fd943f.a42cec","type":"http in","z":"699dd0f3.a2462","name":"","url":"/getbyid","method":"get","upload":false,"swaggerDoc":"","x":110,"y":360,"wires":[["d4643f43.1b754","930a866f.93f448"]]},{"id":"d4643f43.1b754","type":"function","z":"699dd0f3.a2462","name":"","func":"org_msg = msg\nvar id = org_msg.payload.id;\nnode.log(id);\n\nmsg.payload = {\"id\":\"\"+id}\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["6a994bea.0f4614","636db648.a2ec28"]]},{"id":"930a866f.93f448","type":"debug","z":"699dd0f3.a2462","name":"req","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":300,"wires":[]},{"id":"636db648.a2ec28","type":"debug","z":"699dd0f3.a2462","name":"function","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":300,"wires":[]},{"id":"d78dee4f.fdbe9","type":"http response","z":"699dd0f3.a2462","name":"","statusCode":"200","headers":{},"x":840,"y":360,"wires":[]},{"id":"15b3b71d.f68079","type":"debug","z":"699dd0f3.a2462","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":500,"wires":[]},{"id":"5325893a.185a38","type":"http in","z":"699dd0f3.a2462","name":"","url":"/update","method":"post","upload":false,"swaggerDoc":"","x":110,"y":560,"wires":[["95a65e4c.820d4","f3b1070d.4ab868"]]},{"id":"e088574c.5c0c08","type":"http response","z":"699dd0f3.a2462","name":"","statusCode":"200","headers":{},"x":540,"y":560,"wires":[]},{"id":"95a65e4c.820d4","type":"function","z":"699dd0f3.a2462","name":"","func":"//Extract _id parameter from query string\nid = msg.req.query.id;\n\n//Set msg.query to the filter criteria\nmsg.query = {id:id};\n\n/*the input to mongoDB update node needs\nfields to be updated in the msg.payload.\nOriginal msg.payload already has the object fields\nsent from frontend. Hence, keeping it intact.*/\n//update_object = msg.payload;\n\n\n// updateFields = {\n//     \"id\": \"10057-2015-ENFO\",\n//         \"certificate_number\": 6007104,\n//         \"business_name\": \"LD BUSINESS SOLUTIONS\",\n//         \"date\": \"Feb 25 2015\",\n//         \"result\": \"Violation Issued\",\n//         \"sector\": \"Tax Preparers - 891\",\n//         \"address\": {\n//             \"city\": \"NEW YORK\",\n//             \"zip\": 10030,\n//             \"street\": \"FREDERICK DOUGLASS BLVD\",\n//             \"number\": 2655\n//         }\n// };\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":560,"wires":[["e088574c.5c0c08","15b3b71d.f68079","419885ac.8ccf7c"]]},{"id":"f3b1070d.4ab868","type":"debug","z":"699dd0f3.a2462","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":500,"wires":[]},{"id":"419885ac.8ccf7c","type":"mongodb out","z":"699dd0f3.a2462","mongodb":"ba7272bd.14998","name":"Update reocord","collection":"city_inspections","payonly":false,"upsert":true,"multi":false,"operation":"update","x":480,"y":620,"wires":[]},{"id":"e1c24dff.1ec79","type":"inject","z":"699dd0f3.a2462","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":980,"wires":[["43f50059.f6f4a","61508cd1.cfd3d4","181aff24.f1bf21","b65015bc.fc7908"]]},{"id":"43f50059.f6f4a","type":"function","z":"699dd0f3.a2462","name":"","func":"msg.payload = {result:\"Violation Issued\"};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":980,"wires":[["560ef928.b2de98"]]},{"id":"560ef928.b2de98","type":"mongodb in","z":"699dd0f3.a2462","mongodb":"ba7272bd.14998","name":"","collection":"city_inspections","operation":"count","x":590,"y":980,"wires":[["12565444.2d590c"]]},{"id":"61508cd1.cfd3d4","type":"function","z":"699dd0f3.a2462","name":"","func":"msg.payload = {result:\"No Violation Issued\"};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1040,"wires":[["69d0f75f.bca6f8"]]},{"id":"181aff24.f1bf21","type":"function","z":"699dd0f3.a2462","name":"","func":"msg.payload = {result:\"Pass\"};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1100,"wires":[["d3bd5620.2a5dd8"]]},{"id":"b65015bc.fc7908","type":"function","z":"699dd0f3.a2462","name":"","func":"msg.payload = {result:\"Fail\"};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1160,"wires":[["d5fc7567.d1a898"]]},{"id":"69d0f75f.bca6f8","type":"mongodb in","z":"699dd0f3.a2462","mongodb":"ba7272bd.14998","name":"","collection":"city_inspections","operation":"count","x":590,"y":1040,"wires":[["52124fbe.5b6ef"]]},{"id":"d3bd5620.2a5dd8","type":"mongodb in","z":"699dd0f3.a2462","mongodb":"ba7272bd.14998","name":"","collection":"city_inspections","operation":"count","x":590,"y":1100,"wires":[["47e170f2.67a04"]]},{"id":"d5fc7567.d1a898","type":"mongodb in","z":"699dd0f3.a2462","mongodb":"ba7272bd.14998","name":"","collection":"city_inspections","operation":"count","x":590,"y":1160,"wires":[["793132da.0addbc"]]},{"id":"53e5815.d25d98","type":"join","z":"699dd0f3.a2462","name":"join all results","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1060,"y":1060,"wires":[["130fed9e.cdef82","18368ce9.bb1713"]]},{"id":"130fed9e.cdef82","type":"debug","z":"699dd0f3.a2462","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1120,"wires":[]},{"id":"12565444.2d590c","type":"function","z":"699dd0f3.a2462","name":"","func":"msg.topic = \"Violation Issued\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":980,"wires":[["53e5815.d25d98"]]},{"id":"52124fbe.5b6ef","type":"function","z":"699dd0f3.a2462","name":"","func":"msg.topic = \"No Violation Issued\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1040,"wires":[["53e5815.d25d98"]]},{"id":"47e170f2.67a04","type":"function","z":"699dd0f3.a2462","name":"","func":"msg.topic = \"Pass\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1100,"wires":[["53e5815.d25d98"]]},{"id":"793132da.0addbc","type":"function","z":"699dd0f3.a2462","name":"","func":"msg.topic = \"Fail\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1160,"wires":[["53e5815.d25d98"]]},{"id":"4718d618.2e4858","type":"http in","z":"699dd0f3.a2462","name":"","url":"/getresults","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1120,"wires":[["43f50059.f6f4a","61508cd1.cfd3d4","181aff24.f1bf21","b65015bc.fc7908"]]},{"id":"18368ce9.bb1713","type":"http response","z":"699dd0f3.a2462","name":"","statusCode":"200","headers":{},"x":1160,"y":980,"wires":[]},{"id":"b2491443.fa0c68","type":"inject","z":"699dd0f3.a2462","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1460,"wires":[["6ae0f003.ec121"]]},{"id":"6ae0f003.ec121","type":"mongodb in","z":"699dd0f3.a2462","mongodb":"ba7272bd.14998","name":"","collection":"city_inspections","operation":"find","x":530,"y":1380,"wires":[["ae80c6ec.a41cf8","cbb2a128.5469e"]],"info":"Adding the port in the firewall is not enough. By default the host bind to 127.0.0.1 which needs to be changed to 0.0.0.0 Make changes in the file sudo nano /etc/mongod.conf inside the instance Look for the term bindIp change it to 0.0.0.0 and restart mongodb You will be able to connect to the mongo db now"},{"id":"ae80c6ec.a41cf8","type":"debug","z":"699dd0f3.a2462","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":1320,"wires":[]},{"id":"f122466a.9302e8","type":"http in","z":"699dd0f3.a2462","name":"","url":"/getpage","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1380,"wires":[["5c487cce.54c564"]]},{"id":"cbb2a128.5469e","type":"http response","z":"699dd0f3.a2462","name":"","statusCode":"200","headers":{},"x":840,"y":1380,"wires":[]},{"id":"5c487cce.54c564","type":"function","z":"699dd0f3.a2462","name":"","func":"page_num = msg.payload.page_num;\npage_size = msg.payload.page_size;\n\nskips = page_size * (page_num - 1)\n\nmsg.skip = skips;\nmsg.limit = page_size;\n\nmsg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1380,"wires":[["6ae0f003.ec121","fef212d2.1217a"]]},{"id":"fef212d2.1217a","type":"debug","z":"699dd0f3.a2462","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":1320,"wires":[]},{"id":"4cfbdab.f0f6824","type":"debug","z":"699dd0f3.a2462","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":1560,"wires":[]},{"id":"269f8356.749a1c","type":"http in","z":"699dd0f3.a2462","name":"","url":"/delete","method":"post","upload":false,"swaggerDoc":"","x":110,"y":1620,"wires":[["a7627cb5.664b2","3a02ec8c.fdf0e4"]]},{"id":"db7b57f2.7b74f8","type":"http response","z":"699dd0f3.a2462","name":"","statusCode":"200","headers":{},"x":540,"y":1620,"wires":[]},{"id":"a7627cb5.664b2","type":"function","z":"699dd0f3.a2462","name":"","func":"//The msg.payload already contains the id to be deleted.\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1620,"wires":[["db7b57f2.7b74f8","4cfbdab.f0f6824","70c70ddb.dedfa4"]]},{"id":"3a02ec8c.fdf0e4","type":"debug","z":"699dd0f3.a2462","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":1560,"wires":[]},{"id":"70c70ddb.dedfa4","type":"mongodb out","z":"699dd0f3.a2462","mongodb":"ba7272bd.14998","name":"Delete reocord","collection":"city_inspections","payonly":false,"upsert":true,"multi":false,"operation":"delete","x":480,"y":1680,"wires":[]},{"id":"ba7272bd.14998","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"kingsmen","name":""}]